<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
</head>
<body>
  <h1 th:text="'List of Owners'">List of Owners...</h1>
  <table>
      <tr>
          <th>Id</th>
          <th>FirstName</th>
          <th>LastName</th>
      </tr>
      <tr th:each="owner : ${owners}">
          <td th:text="${owner.id}">1</td>
          <td th:text="${owner.firstName}">Joe</td>
          <td th:text="${owner.lastName}">Buck</td>
      </tr>
  </table>
</body>
</html>